#jpreOverlay {
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(224,224,224,1) 100%);
}
#jpreSlide{
	font-size:22px;
	font-weight:bold;
	color:#005AA7;
	text-align:center;
	width:50%;
	height:30%;
}
#jpreLoader{
	width:300px;
	height:25px;
	border:1px inset #888;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}

#jpreBar {
	background:#005AA7 url(../images/bar.png);
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}

#jprePercentage {
	color:#5B91B8;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	top:-100%;
}