/********************************
***********************************/

.w-maestrias-home .item {
  width: 290px;
  height: 200px;
  /*display: block;*/
  float: left;
  overflow: hidden;
  position: relative;
  margin: 5px 5px;
  cursor: pointer;
  background: #000;
}

.item img {
  width: 100%;
  height: auto;
  /*display: block;*/
  /*opacity: 0.6;*/
}

.w-maestrias-home .item .det {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
}

.w-maestrias-home .item .det h3 {
  font-family: arial;
  font-weight: lighter;
  margin: 0;
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 3;
  max-width: 250px;
}

.w-maestrias-home .item .detail {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}

.tleft {
  text-align: left !important;
}

.w-maestrias-home .item.mba .detail-i {
  padding: 120px 20px 20px 20px;
}

.w-maestrias-home .item .detail .detail-i {
  text-align: left;
  position: absolute;
  display: block;
  color: #fff;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.w-maestrias-home .item.mba .detail-i h3 {
  text-transform: uppercase;
}

.w-maestrias-home .item .detail h3 {
  font-family: arial;
  font-size: 1.6em;
  font-weight: lighter;
  color: #fff;
}

.w-maestrias-home .item .detail .w-btn .btn {
  padding: 5px 15px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.w-maestrias-home .item .detail .close {
  width: 45px;
  height: 22px;
  display: block;
  position: absolute;
  margin: 0 0 0 -11px;
  top: 10px;
  right: 5px;
}

.close1 {
  width: 26px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 15px;
  left: 10px;
  transform: rotateZ(-45deg);
}

.close2 {
  width: 26px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 15px;
  left: 10px;
  transform: rotateZ(45deg);
}

.w-maestrias-home .item.explain {
  height: 410px;
  width: 590px;
}

.w-maestrias-home .item.explain .det {
  display: none;
}

.w-maestrias-home .item.explain .img {
  width: 100%;
}

.w-maestrias-home .item.explain .detail {
  display: block;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  cursor: default;
}

.w-maestrias-home .row-l {
  float: left;
  width: 48%;
}

.w-maestrias-home .row-l .w-slide-events {
  display: block;
  height: auto;
  overflow: hidden;
}

.tleft p, .tleft h3 {
  font-family: arial;
  margin-bottom: 30px;
}

figure {
  margin: 0;
  padding: 0;
}

p, h3 {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 680px) {
  #moEfect figure figcaption > a {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  #moEfect figure.tleft {
    display: none;
  }
  .w-maestrias-home .item.explain {
    width: 290px !important;
    height: 200px !important;
  }
  .w-maestrias-home .item.explain .det {
    display: inherit !important;
  }
}
